.root {
    height: 400px;
    overflow: auto;
}
.listItem{
    padding: 12px 16px;
    background-color: #fff;
    border-radius: 13px;
    margin-bottom: 10px;
    &:hover{
        background: linear-gradient(90deg, rgba(0,36,33,1) 0%, rgba(255,255,255,1) 0%, rgba(115,212,196,1) 100%);
    }
}
.listItemTitle{
    display: flex;
    align-items: center;
}
.title{
    font-size: 16px;
    font-weight: 500;
}
.point{
    display: inline-block;
    background-color: var(--primary-color);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin: 0 8px;
}
.classify{
    
}